<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.umich.mwassink.mapdisplay">
  <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.HIGH_SAMPLING_RATE_SENSORS"/>
  
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MapDisplay"
        android:networkSecurityConfig="@xml/network_security_config">

        <activity
            android:name=".WalkActivity"
            android:exported="true"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DisplayActivity"
            android:label="@string/display"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".DebugActivity"
            android:label="@string/display"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".GPSActivity"
            android:label="@string/display"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
